# Mouse support
set -g mouse on

# Change prefix to C-Space
unbind C-b
set -g prefix C-space
bind C-space send-prefix

# vim style bindings for navigating panes
unbind l
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Prefixless pane navigation with ctrl+alt
bind -n C-M-h select-pane -L
bind -n C-M-j select-pane -D
bind -n C-M-k select-pane -U
bind -n C-M-l select-pane -R

# Focus-events setting for neovim
set -g focus-events on

# Vim style copy-mode bindings
setw -g mode-keys vi

bind y copy-mode
bind -n C-b copy-mode
bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi r send -X rectangle-toggle
{{- if .wayland }}
bind -T copy-mode-vi y send -X copy-pipe-and-cancel "wl-copy && wl-paste -n | wl-copy -p"
bind P run "wl-paste -n | tmux load-buffer - ; tmux paste-buffer"
{{- else }}
bind -T copy-mode-vi y send -X copy-pipe-and-cancel "xclip -i -sel clip > /dev/null"
bind P run "xclip -o -sel clip | tmux load-buffer - ; tmux paste-buffer"
{{- end }}
{{- if .fish }}

# Use fish as default shell in tmux
set -g default-shell "/usr/bin/fish"
{{- end }}

{{- if eq .terminal "alacritty" }}

# Enable true color support for alacritty
set -a terminal-features "alacritty:RBG"
set -a terminal-overrides "alacritty:RGB"
{{- end }}
