{{- if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh"
[edit]
    command = "nvim"
[merge]
    command = "nvim"
    args = ["-d", "{{"{{ .Destination }}"}}", "{{"{{ .Source }}"}}", "{{"{{ .Target }}"}}"]
{{- else }}
# Uncomment to enable fish shell for "chezmoi cd"
# [cd]
#    command = "fish"
# Ignore the constantly changing hex variables from tide in fish_variables
# [[textconv]]
#     pattern = "**/.config/fish/fish_variables"
#     command = "awk"
#     args = ["!/SETUVAR _.*/{print}"]
{{- end }}

[data]
    fish = false
    zsh = false
    wayland = false
    terminal = "none"
