{{- if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh"
[edit]
    command = "nvim"
[merge]
    command = "nvim"
    args = ["-d", "{{"{{ .Destination }}"}}", "{{"{{ .Source }}"}}", "{{"{{ .Target }}"}}"]
{{- end }}
[data]
    fish = false
    zsh = false
    wayland = false
    terminal = "none"
