[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = hojahoja
    email = 5722145+hojahoja@users.noreply.github.com
{{- if eq .chezmoi.os "windows" }}
[credential]
    helper = "C:/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe"
[core]
    editor = vim -u ~/.vim/.vimrc
    autocrlf = input
{{- else }}
[core]
    editor = vim
{{- end }}
[init]
    defaultBranch = main
[alias]
    lg = log --graph --pretty=format:'%C(yellow)%h %Cgreen%an %C(bold blue)(%cr)%Creset - %C(bold magenta)%d%Creset %s'
    cfg = config --list
    cfla = config --list --show-origin
    cfe = config -e
    s = status
    a = add
    c = commit
    cm = commit -m
    d = diff
    dh = diff HEAD
