alias sudo='sudo ' # Trailing space enables aliases to work with sudo
alias ff='fastfetch'
alias ffs='fastfetch -c neofetch -l arch_small' # Default setting for small screens.
alias filez='du -sh * | sort -h'
alias vat='bat -pp' # Display file with syntax highlighting
alias tarzst='tar -I "zstd -11 -T0" -cvf'
alias tarxz='tar -I "xz -9e" -cvf'
# Chezmoi shortcuts
alias che='chezmoi'
alias chez='chezmoi'
alias ches='chezmoi status'
alias ched='chezmoi diff'
alias chee='chezmoi edit'
alias cheew='chezmoi edit --watch'
alias cheea='chezmoi edit --apply'
alias chea='chezmoi apply'
alias checd='chezmoi cd'
{{- if eq .chezmoi.osRelease.id "ubuntu"}}
# Ubuntu specific
alias bat='batcat'
{{- end }}
{{- if eq .chezmoi.osRelease.id "arch"}}
# The next two work on arch because passwordless
# has been enabled in wheel group for them specifically.
alias reboot='sudo reboot'
alias poweroff='sudo poweroff'
#Quick alternative to pacdiff -f
alias pacfinder="sudo find /etc -name '*.pacnew' -o -name '*.pacsave'" 
alias orphans='pacman -Qtdq'
# My bootsplash setup hides critical level messages on thinkpad
# This is a quick way to check if there's anything but that one bugged message
alias bootcrit='sudo dmesg --level=crit+'
# Quick command for for a pretty list for 20 latest commits of VCS /etc Folder
alias etclog='sudo git -C /etc log -20 --pretty="format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s"'
{{- end }}
